<!DOCTYPE html>
<html>
<head>
    <title>AI Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <div class="header">
        AI Chatbot 🤖
    </div>

    <div class="chat" id="chat">

        {% for role, msg in chat %}
            <div class="{{ role }}">
                <div class="bubble">
                    {{ msg }}
                </div>
            </div>
        {% endfor %}

    </div>

    <form method="POST">
        <input type="text" name="message" placeholder="Type message..." required>
        <button type="submit">Send</button>
    </form>

</div>

<script>
    const chat = document.getElementById("chat");
    chat.scrollTop = chat.scrollHeight;
</script>

</body>
</html>
